.play_item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 660px;
    height: max-content;
    background-color: darkslateblue;
    margin: 4px;
    border: 2px solid gray;
    border-radius: 8px;
}

.item {
    display: flex;
    justify-content: flex-start;
    width: 560px;
    overflow: hidden;

    picture {
        width: 74px;
        height: 74px;
        border: 3px solid red;
        border-radius: 8px;

        img {
            object-fit: contain;
            object-position: center;
            width: 64px;
            height: 64px;
            margin: 5px;
        }
    }
}

.details {
    display: flex;
    flex-direction: column;

    h1 {
        font-size: 18px;
        font-weight: 500;
    }

    h2 {
        font-size: 18px;
        font-weight: 400;
    }

    h3 {
        font-size: 16px;
        font-weight: 300;
        font-style: italic;
    }
}

.controls {
    display: flex;
    justify-content: center;
    align-items: center;
}

.remove {
    font-size: 28px;
    margin: 10px;
    border: 2px solid darkslategray;
    color: darkslategray;
}

.move {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}