.track_item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    height: auto;
    background-color: darkslateblue;

    picture {
        width: 74px;
        height: 74px;
        border: 3px solid red;
        border-radius: 8px;

        img {
            object-fit: contain;
            object-position: center;
            width: 64px;
            height: 64px;
            margin: 5px;    
        }
    }

    section {
        h1 {
            font-size: 18px;
            font-weight: 500;
        }

        h2 {
            font-size: 18px;
            font-weight: 400;
        }

        h3 {
            font-size: 16px;
            font-weight: 300;
            font-style: italic;
        }
    }

    button {
        font-size: 28px;
        margin: 10px;
        border: 2px solid darkslategray;
        color: darkslategray;
    }
}