.app_header {
    background-color: #282c34;
    height: 100px;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: calc(10px + 2vmin);
    color: white;
}

.app_logo {
    width: 64px;
  
    img {
        width: 100%;
        height: auto;
        pointer-events: none;
        border-radius: 50%;
        margin-top: 8px;
    }
}


@media (prefers-reduced-motion: no-preference) {
    .app_logo_spin {
      animation: app_logo_spin infinite 20s linear;
    }
}
  
  
@keyframes app_logo_spin {
from {
    transform: rotate(0deg);
}
to {
    transform: rotate(360deg);
}
}
  

.profile_menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 6px;
    border: 2px solid white;
    height: 80px;
    margin-right: 8px;

    h1 {
        margin: 0 16px 0 8px;
        font-size: calc(10px + 2vmin);
    }

    picture {
        border-radius: 50%;
        border: 2px solid black;
        width: 64px;
        height: 64px;
        margin: 8px;

        img {
            object-fit: contain;
            object-position: bottom;
            border-radius: 50%;
        }
    }
}