.App {
  text-align: center;
}

.App-logo-container {
  width: 52px;
}

.App-logo {
  width: 100%;
  height: auto;
  pointer-events: none;
  border-radius: 50%;
  margin-top: 6px;
}
header {

  ul{
    display: flex;
    margin-right: 2rem;
    li {
      list-style:none;
      width: 9rem;
      font-size: 1.4rem;
    }

  }

  a{
    color: white;
  }
}

main {
  width: 100vw;
  min-height: 70vh;
  height: auto;
  background-color: rgb(52, 65, 77);
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
